.wrapper
  .inner-wrapper
    .container
      .row
        .span12
          %h2.nuck We're still in BETA, the collection will grow as we automate our feeds.
      .row
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "http://www.shareasale.com/r.cfm?b=310481&u=751849&m=32833&urllink=&afftrack="}
                = image_tag "tshirts/teefury1.png", :style => "width: 321px;"
            .wii-desc
              %h4 $11 Teefury
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "http://www.riptapparel.com/?aff=JW2KB2PHQKNGZ2DW"}
                = image_tag "tshirts/riptapparel.jpg", :style => "width: 321px;"
            .wii-desc
              %h4 $10 Ript Apparel
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "http://www.epicembrace.com"}
                = image_tag "tshirts/epicembrace.jpg", :style => "width: 321px;"
            .wii-desc
              %h4 $11 Epic Embrace
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
      .row
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "https://www.shirtpunch.com/tv/"}
                = image_tag "tshirts/shirtpunch1.jpg", :style => "width: 321px;"
            .wii-desc
              %h4 $10 Shirt Punch
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "http://www.shirtpunch.com/"}
                = image_tag "tshirts/shirtpunch2.jpg", :style => "width: 321px;"
            .wii-desc
              %h4 $10 Shirt Punch
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "https://www.shirtpunch.com/tv/"}
                = image_tag "tshirts/shirtpunch3.jpg", :style => "width: 321px;"
            .wii-desc
              %h4 $10 Shirt Punch
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
      .row
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "http://www.fivefingertees.com/dailysteal.html"}
                = image_tag "tshirts/fivefingertees.gif", :style => "width: 321px;"
            .wii-desc
              %h4 $7.99 Fivefingertees.com
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "http://www.qwertee.com/"}
                = image_tag "tshirts/qwertee.png", :style => "width: 321px;"
            .wii-desc
              %h4 £10 Qwertee
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "https://www.teeraiders.com"}
                = image_tag "tshirts/teeraiders.png", :style => "width: 321px;"
            .wii-desc
              %h4 $10 Teeraiders
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
      .row
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "http://www.othertees.com"}
                = image_tag "tshirts/othertees.jpg", :style => "width: 321px;"
            .wii-desc
              %h4 $11 Othertees
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
        .span4
          .wii
            .browser-bar
            %div{:style => "background: black; height: 250px; overflow: hidden"}
              %a{:href => "http://teebusters.com"}
                = image_tag "tshirts/teebusters.png", :style => "width: 321px;"
            .wii-desc
              %h4 €8.99 Teebusters
              %hr/
              .wii-meta
                %p.pull-left 
                %p.pull-right March 28, 2013
        / .span4
        /   .wii
        /     .browser-bar
        /     %div{:style => "background: black; height: 250px; overflow: hidden"}
        /       %a{:href => "http://www.shareasale.com/r.cfm?b=310481&u=751849&m=32833&urllink=&afftrack="}
        /         = image_tag "tshirts/teefury2.png", :style => "width: 321px;"
        /     .wii-desc
        /       %h4 $11 Teefury
        /       %hr/
        /       .wii-meta
        /         %p.pull-left 
        /         %p.pull-right March 28, 2013
/ /wrapper